/* Folder page*/

.title{
  display: flex;
  justify-content: center;
}

.folder-name-and-add-container{
  display: flex;
  justify-content: center;
}

.folder-todo-title{
  display: flex;
  flex-direction: row;
  width: 20%;
}

.folder-add-todo-form{
  width: 30%;
  justify-content: center;
  padding-top: 0%;
  margin: auto 0;
}

.folder-ul{
  border-bottom: 1px solid gray;
  padding-bottom: 5%;
}