/* Header */

.header {
  display: flex;
  height: 100px;
  width: 100%;
  flex: 0 0 100%; /* take full row inside #layout */
  align-items: center;
  justify-content: center;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-btn {
  padding: 15px;
  border-radius: 20px;
}

.active-header {
  background: rgba(0, 255, 255, 0.15);
}
