/* SideBar */

#sidebar {
  width: 20%;
  flex: 0 0 20%;
  border-right: 0.5px solid aqua;
  padding-right: 1rem;
}

.lists-in-folder{
  margin-top: 1%;
  
  
}
.listInFolder{
  list-style: none;
  
}

.hidden{
  display: none;
}
.visible {
  display: block;
}

.dropdown-slot {
  min-height: 44px; /* match your select height */
}

.dropdown-slot.closed {
  visibility: hidden;
  opacity: 0;
}

.dropdown-slot.open {
  visibility: visible;
  opacity: 1;
}


.sidebar-List-in-Folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid Aquamarine;
}
.sidebar-List-in-Folder-styling-span{
  
  width: 2rem;
}

.sidebar-list { display: block; padding: .5rem 1rem; border-radius: 8px; }
.sidebar-list.active { background: rgba(0,255,255,.15); }
.del-btn{
  height: 2rem;
  padding-top: 0.25rem;
  
}
#inbox{
  border-bottom: 2px solid white;
  width: 25%;
  margin-left: 40%;
  padding-bottom: -10%;
  padding: 2px 0px;
}
.sidebar-add{
  border-bottom: 2px solid white;
  width: 25%;
  margin-left: 40%;
  padding: 2px 0px;
  margin-bottom: 0.5rem;
}

#add-link{
  padding-left: 1.25rem;
}

.sidebar-folder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.sidebar-ul-no-folder{
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.sidebar-ul-no-folder:focus {
  background-color: grey;
}
.no-folder-list-styling-span{
  width: 2rem;
}